<!--<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>PROJECT AZIMUTH</title>
		
		<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,user-scalable=no">
		
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>	

		<!--Thank you to Fontfabric for the use of Code Light and Code Bold fonts-->
		
	<!--</head>
	<body>-->
		<div id="header">
			<div id="logo">A</div>
			<% if user_signed_in? %>
				<a href="/auth/logout"><div class="login_button">Logout</div></a>
				<a href="/auth/destroy"><div class="login_button destroy"></div></a>
				<div id="avatar"><%= image_tag(current_user.profile_image_url, :width => 48, :height => 48) %></div>
			<% else %>		
				<a href="/auth/twitter"><div class="login_button">Login</div></a>
			<% end %>
		</div>
		<div id="main">
			<div id="map_wrapper">
				<div id="chart"></div>
			</div>
			<% if user_signed_in? %>
				<div class="content_realignment">
					<div id="profile_box">
					</div>
					<div id="table_wrapper">
						<div id="table_expand"><h2>Coordinate Table </h2><span id="slide_span" style="display: inline-block; width: 10px"></span><div id="x_box">+</div></div>
						<div id="table_box">
						</div>
					</div>
				</div>
			<% end %>			
			<div id="about_background">
				<div class="title_box">
					<a href="/preferences/">
						<h1>PROJECT</h1>
						<h1 style="font-family: 'code_boldregular'">AZIMUTH</h1>
					</a>
				</div>
				<div class="content_realignment about_align">
					<h2>about Azimuth</h2>
					<p style="margin-top: 10px">	Azimuth or Project Azimuth is an application created to aid the UBC Sailbot team in its endeavour to cross the Atlantic ocean in an unmanned aquatic vehicle. As an extension, the application can be applied to actual marine vessels.</br></br>
						While not providing the software to control the vehicle, the purpose of this project is to track and navigate the Sailbot or any other vessel on its journey across the ocean. Using Twitter and utilizing its geo-location services, the software will track tweets made by the Sailbot/vessel and the location where they were made.</br></br>
						Azimuth's niche feature is its tracking of icebergs that pose a threat to unmanned vehicles (and manned ones as well). Using the Canadian Ice Service database, icebergs are tracked in order to provide navigation solutions.</br></br>
						Initially, Azimuth will start as a web application which will feature a map of progress made by the Sailbot/vessel and known iceberg locations. Data is restricted by login information tied to Twitter profiles.
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
		</div>
		
		<script>
			$(document).ready(function(){	
				var isOpen = false;
				$("#x_box").click(function() {
					if(isOpen) {
						expand_table(10,0,0);
						isOpen = false;
					}
					else {
						expand_table(775,250,45)
						isOpen = true;
					}
				});
				
				function expand_table(x, y, z) {
					$("#slide_span").animate({width: x + "px" }, "fast",function(){
						$('#x_box').css({
							 '-moz-transform':'rotate(' + z + 'deg)',
							 '-webkit-transform':'rotate(' + z + 'deg)',
							 '-o-transform':'rotate(' + z + 'deg)',
							 '-ms-transform':'rotate(' + z + 'deg)',
							 'transform':'rotate(' + z + 'deg)'
						});
					});
					$("#table_box").animate({height: y + "px" }, "slow",function(){
						// $("#signupform").fadeIn("slow");
					});
				}
				
			});
		</script>
	</body>
</html>

