<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>PROJECT AZIMUTH</title>
		
		<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,user-scalable=no">
		
		<!--<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="fonts/font_stylesheet.css">-->
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

		<script src="scripts/jquery.min.js"></script>

		<!--Thank you to Fontfabric for the use of Code Light and Code Bold fonts-->

	</head>
	<body>
		<div id="header">
			<div id="logo">A</div>
			<% if user_signed_in? %>
				<a href="/auth/logout"><div class="login_button">Logout</div></a>
				<a href="/auth/destroy"><div class="login_button destroy"></div></a>
				<div id="avatar"><%= image_tag(current_user.profile_image_url, :width => 48, :height => 48) %></p></div>
			<% else %>		
				<a href="/auth/twitter"><div class="login_button">Login</div></a>
			<% end %>
		</div>
		<div id="main">
			<div id="map_wrapper">
			</div>
			<div class="title_box">
				<a href="/twitter/tweetview">
					<h1>PROJECT</h1>
					<h1 style="font-family: 'code_boldregular'">AZIMUTH</h1>
				</a>
			</div>
			<div id="table_wrapper">
				<div id="table_expand"><h2>Coordinate Table </h2><span id="slide_span" style="display: inline-block; width: 10px"></span><div id="x_box">+</div></div>
				<div id="table_box">
				</div>
			</div>
		</div>
		<div id="footer">
		</div>
		
		<script>
			$(document).ready(function(){	
				var isOpen = false;
				$("#x_box").click(function() {
					if(isOpen) {
						expand_table(10,0,0);
						isOpen = false;
					}
					else {
						expand_table(775,250,45)
						isOpen = true;
					}
				});
				
				function expand_table(x, y, z) {
					$("#slide_span").animate({width: x + "px" }, "fast",function(){
						$('#x_box').css({
							 '-moz-transform':'rotate(' + z + 'deg)',
							 '-webkit-transform':'rotate(' + z + 'deg)',
							 '-o-transform':'rotate(' + z + 'deg)',
							 '-ms-transform':'rotate(' + z + 'deg)',
							 'transform':'rotate(' + z + 'deg)'
						});
					});
					$("#table_box").animate({height: y + "px" }, "slow",function(){
						// $("#signupform").fadeIn("slow");
					});
				}
			});
		</script>
	</body>
</html>

